{% load static %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hi, I'm Deepayan</h1>
        <p class="lead text-muted">Hey, my name is Deepayan Mallick and I love to make Django websites. It's thril of handling the requests that the people want!</p>
        <p>
        <a href="#" class="btn btn-primary my-2">Github</a>
        <a href="mailto:deepayan.cse@gmail.com" class="btn btn-secondary my-2">Email Me</a>
        <br>
        <br>
        <img height="400" width="400" src="{% static 'img/Deepayan_Mallick.jpg' %}">
        </p>
    </div>
</section>